[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TooManyCellsR"]
	path = TooManyCellsR
	url = https://github.com/gregoryschwartz/toomanycellsr
